/* ============================================= */
/*              Images                           */
/* ============================================= */

.img-avatar {
    display: block;
    @include dmm;
    @include mmw; 
    max-height: 100%;
  }
  
  .img-frame {
    @include dmm;
    @include mmw;
    padding: 13px;
    border: 1px solid #ccc;
  }
  
  .img-logo {
    @include dmm;
  }